body{
    text-align:center;
     
}
.img1{
    border-radius: 50%;
    width: 180px;
    height: 175px;
    margin-top: 40px;
    margin-bottom: 40px;
}
#section1{
    z-index: 9;
    opacity: 1;
    height: 800px;
    background: linear-gradient(yellowgreen 0%,blue 100%);
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#person{
    font-family: cursive;
}
.line{
    width: 80px;
    height: 10px;
    background-color: chartreuse;
    margin: 10px auto;
    
}
#section2{
    padding-top: 800px;
    text-align: center;
}
p{
    max-width: 500px;
    margin: 10px auto;
    
    
}
.menu{
z-index: 10;
    position: fixed;
    font-family: fantasy;
    cursor: pointer;
    top: 0px;
    right: 30px;
    list-style: none;
}
.timsir{
    float: left;
    padding: 15px;
    color: black;
    font-family: 'Fira Sans', sans-serif;
    
}
.timsir:hover{
    background-color: chartreuse;
}